.container {
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    padding-left: 85px;
    padding-right: 85px;
  }
}
