:root {
  --basic-font: 'Montserrat', sans-serif;
  --main-cta-color: #fae719;
  --secondary-cta-color: #b8aa14;
  --background-and-text-black-color: #18191a;
  --surface-dark-color: #2a2a2a;
  --secondary-text-color-on-black-bg: #5d5e5e;
  --secondary-text-color-on-white-bg: #8c8c8d;
  --surface-grey-color: #e8e8e9;
  --surface-light-color: #f8f8f5;
  --background-and-text-white-color: #ffffff;
  --green-color: #4bb814;
}
