<section class="section">
  <div class="container advantages-container">
    <p class="advantages-title">НАШІ ПЕРЕВАГИ</p>
    <ul class="advantages-list">
      <li class="advantages-list__item">
        <p class="advantages-list__item-title1">ГАРАНТІЯ</p>
        <p class="advantages-list__item-description">На весь інструмент - офіційна гарантія виробника. Гарантійне та сервісне обслуговування проводиться сервісними центрами.</p>
      </li>
      <li class="advantages-list__item">
        
        <p class="advantages-list__item-title2">ДОСТАВКА</p>
        <p class="advantages-list__item-description">Оперативна доставка. "Нова Пошта", "Делівері", "Міст експрес", "УкрПошта", "Justin" - обирайте будь-яку!</p>
      </li>
      <li class="advantages-list__item">
        
        <p class="advantages-list__item-title3">БОНУСИ</p>
        <p class="advantages-list__item-description">Купуйте більше - платіть менше! Отримуйте бонуси на покупки в інших магазинах. Прогресивна дисконтна
          та накопичувальна система.</p>
      </li>
      <li class="advantages-list__item">
        
        <p class="advantages-list__item-title4">АКЦІЇ</p>
        <p class="advantages-list__item-description">Знижки до 50% щомісяця. Сезонні знижки, тематичні акції, знижки на окремі бренди.</p>
      </li>
    </ul>
  </div>
</section>