<section class="section footer-section">
	<div class="container">
		<footer>
			<div class="footer-navigation-block">
				<a href="/">
					<svg height="24" width="194">
						<use href='./images/sprite.svg#icon-logo'></use>
					</svg>
				</a>
				<div>
					<p>ПРО НАС</p>
					<ul>
						<li><a href="">Каталог</a></li>
						<li><a href="">Контакти</a></li>
						<li><a href="">Роздрібні магазини</a></li>
						<li><a href="">Відгуки</a></li>
						<li><a href="">Бренди</a></li>
						<li><a href="">Партнери</a></li>
						<li><a href="">Мапа сайту</a></li>
					</ul>
				</div>
				<div>
					<p>СЕРВІС</p>
					<ul>
						<li><a href="">Гарантія</a></li>
						<li><a href="">Сервіс</a></li>
						<li><a href="">Оплата</a></li>
						<li><a href="">Доставка</a></li>
						<li><a href="">Повернення товару</a></li>
						<li><a href="">Обмін товару</a></li>
						<li><a href="">Відповіді на питання</a></li>
					</ul>
				</div>
				<div>
					<p>Корисне</p>
					<ul>
						<li><a href="">Акції</a></li>
						<li><a href="">Статус замовлення</a></li>
						<li><a href="">Програма лояльності</a></li>
						<li><a href="">Підписникам</a></li>
						<li><a href="">Новини</a></li>
						<li><a href="">Блог</a></li>
						<li><a href="">Відео</a></li>
					</ul>
				</div>
				<div class="footer-navigation-block-contacts">
					<div>
						<p>ЗВ’ЯЖІТЬСЯ З НАМИ</p>
						<ul>
							<li><a href="tel:+380505522945">050 552 29 45</a></li>
							<li><a href="tel:+380671478055">067 147 80 55</a></li>
							<li><a href="tel:+380931700776">093 170 07 76</a></li>
						</ul>
					</div>
					<div>
						<ul id="footer-navigation-block-social">
							<li>
								<a href="">
									<svg width="19" height="19">
										<use href="./images/sprite.svg#icon-instagram"></use>
									</svg>
								</a>
							</li>
							<li>
								<a href="">
									<svg width="19" height="19">
										<use href="./images/sprite.svg#icon-facebook"></use>
									</svg>
								</a>
							</li>
							<li>
								<a href="">
									<svg width="19" height="19">
										<use href="./images/sprite.svg#icon-youtube"></use>
									</svg>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-subscribe-block">
				<form data-subscribe-form>
					<label>
						<span>Дізнавайтеся про нові акції, знижки <br>
							і спецпропозиції</span>
						<input type="text" placeholder="E-mail" data-email>

					</label>
					<button type="submit">ПІДПИСАТИСЬ</button>
				</form>
			</div>
			<div class="footer-additional-block">
				<div class="additional-block-terms">
					<p>Оформляючи замовлення через інтернет-магазин «Мир Інструмент», або підписуючись на розсилку, Ви
						автоматично погоджуєтеся з умовами <a href=""><span>публічного договору</span></a></p>
					<p>2020 – 2021 © Мир Инструмента</p>
				</div>
				<div class="additional-block-cards">
					<svg width="52" height="40">
						<use href="./images/sprite.svg#icon-mastercard"></use>
					</svg>
					<svg width="68" height="40">
						<use href="./images/sprite.svg#icon-visa"></use>
					</svg>
					<svg width="238" height="40">
						<use href="./images/sprite.svg#icon-privatbank"></use>
					</svg>
				</div>
			</div>
		</footer>
	</div>
</section>