<header class="header">
	<div class="container header-container">
		<nav class="header-nav header-flex-list">
			<a href="/">
				<svg class="header-nav__logo">
					<use href='./images/sprite.svg#icon-logo'></use>
				</svg>
			</a>
			<ul class="header-pages-list header-flex-list">
				<li><a href="">АКЦІЇ</a></li>
				<li><a href="">КЛІЄНТАМ</a></li>
				<li><a href="">БЛОГ</a></li>
				<li><a href="">ПРО НАС</a></li>
				<li><a href="" class="header-pages-list__item-contact">КОНТАКТИ</a></li>
				<li><a href="">СТАТУС ЗАМОВЛЕННЯ</a></li>
				<li><a href="">МИ ЗАТЕЛЕФОНУЄМО</a></li>
			</ul>
			<ul class="header-additional-list header-flex-list">
				<li>
					<svg width="24" height="24">
						<use href="./images/sprite.svg#icon-balance"></use>
					</svg>
				</li>
				<li>
					<svg width="24" height="24">
						<use href="./images/sprite.svg#icon-heart"></use>
					</svg>
				</li>
				<li>
					<svg width="24" height="24">
						<use href="./images/sprite.svg#icon-cabinet"></use>
					</svg>
				</li>
				<li>
					<svg width="24" height="24">
						<use href="./images/sprite.svg#icon-cart"></use>
					</svg>
				</li>
			</ul>
		</nav>
	</div>
</header>