<section>
	<div class="container">
		<div class="swiper" >
			<div class="swiper-wrapper" >
				<div class="swiper-slide" id="swiper-custom-slide1">
					<picture>
						<source srcset="./images/hero/deWalt.webp 1x, ./images/hero/deWalt.webp 2x" type='image/webp' />
						<source srcset="./images/hero/deWalt@2x.jpg 2x" />
						<img src="./images/hero/deWalt.jpg" alt="deWalt" />
					</picture>
				</div>
				<div class="swiper-slide" id="swiper-custom-slide2">
					<picture>
						<source srcset="./images/hero/storm.webp 1x, ./images/hero/storm.webp 2x" type='image/webp' />
						<source srcset="./images/hero/storm@2x.jpg 2x" />
						<img src="./images/hero/storm.jpg" alt="storm" />
					</picture>
				</div>
				<div class="swiper-slide" id="swiper-custom-slide3">
					<picture>
						<source srcset="./images/hero/tools.webp 1x, ./images/hero/tools.webp 2x" type='image/webp' />
						<source srcset="./images/hero/tools@2x.jpg 2x" />
						<img src="./images/hero/tools.jpg" alt="tools" />
					</picture>
				</div>
				<div class="swiper-slide" id="swiper-custom-slide4">
					<picture>
						<source srcset="./images/hero/intertool.webp 1x, ./images/hero/intertool.webp 2x" type='image/webp' />
						<source srcset="./images/hero/intertool@2x.jpg 2x" />
						<img src="./images/hero/intertool.jpg" alt="intertool" />
					</picture>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
</section>