<section>
	<div class="container">
		<div class="swiper">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
				<!-- Slides -->
				<div class="swiper-slide">
					<picture>
						<source srcset="./images/hero/deWalt.webp 1x, ./images/hero/deWalt.webp 2x" type='image/webp' />
						<img src="./images/hero/deWalt.jpg" alt="deWalt" />
					</picture>
				</div>
				<div class="swiper-slide">
					<picture>
						<source srcset="./images/hero/storm.webp 1x, ./images/hero/storm.webp 2x" type='image/webp' />
						<img src="./images/hero/storm.jpg" alt="storm" />
					</picture>
				</div>
				<div class="swiper-slide">
					<picture>
						<source srcset="./images/hero/tools.webp 1x, ./images/hero/tools.webp 2x" type='image/webp' />
						<img src="./images/hero/tools.jpg" alt="tools" />
					</picture>
				</div>
				<div class="swiper-slide">
					<picture>
						<source srcset="./images/hero/intertool.webp 1x, ./images/hero/intertool.webp 2x" type='image/webp' />
						<img src="./images/hero/intertool.jpg" alt="intertool" />
					</picture>
				</div>
				...
			</div>
			<!-- If we need pagination -->
			<div class="swiper-pagination"></div>


		</div>

	</div>
</section>