<section class="section">
	<div class="container">
		<div class="populars-title-wrapper">
			<p>ПОПУЛЯРНІ КАТЕГОРІЇ</p>
			<a href="">ДИВИТИСЬ ВСІ</a>
		</div>
		<div class="populars-goods-wrapper">
			<ul>
				<li>
					<a href="">
						<picture>
							<source srcset="./images/populars/car-tools.webp 1x, ./images/populars/car-tools.webp 2x"
								type='image/webp' />
							<source srcset="./images/populars/car-tools.png 1x, ./images/populars/car-tools.png 2x" />
							<img src="./images/populars/car-tools.png" width="150" height="150" alt="car-tools" />
						</picture>
						<p>Автоінструмент</p>
					</a>
				</li>
				<li><a href="">
						<picture>
							<source srcset="./images/populars/hand-tools.webp 1x, ./images/populars/hand-tools.webp 2x"
								type='image/webp' />
							<source srcset="./images/populars/hand-tools.png 1x, ./images/populars/hand-tools.png 2x" />
							<img src="./images/populars/hand-tools.png" width="150" height="150" alt="hand-tools" />
						</picture>
						<p>Ручний інструмент</p>
					</a></li>
				<li><a href="">
						<picture>
							<source srcset="./images/populars/electric-tools.webp 1x, ./images/populars/electric-tools.webp 2x"
								type='image/webp' />
							<source
								srcset="./images/populars/electric-tools.png 1x, ./images/populars/electric-tools.png 2x" />
							<img src="./images/populars/electric-tools.png" width="150" height="150" alt="electric-tools" />
						</picture>
						<p>Електроінструмент</p>
					</a></li>
				<li><a href="">
						<picture>
							<source
								srcset="./images/populars/pneumatic-tools.webp 1x, ./images/populars/pneumatic-tools.webp 2x"
								type='image/webp' />
							<source
								srcset="./images/populars/pneumatic-tools.png 1x, ./images/populars/pneumatic-tools.png 2x" />
							<img src="./images/populars/pneumatic-tools.png" width="150" height="150" alt="pneumatic-tools" />
						</picture>
						<p>Пневмоінструмент</p>
					</a></li>
				<li><a href="">
						<picture>
							<source srcset="./images/populars/home-tools.webp 1x, ./images/populars/home-tools.webp 2x"
								type='image/webp' />
							<source srcset="./images/populars/home-tools.png 1x, ./images/populars/home-tools.png 2x" />
							<img src="./images/populars/home-tools.png" width="150" height="150" alt="home-tools" />
						</picture>
						<p>Для дому та саду</p>
					</a></li>
				<li><a href="">
						<picture>
							<source
								srcset="./images/populars/pneumatic-tools.webp 1x, ./images/populars/pneumatic-tools.webp 2x"
								type='image/webp' />
							<source
								srcset="./images/populars/pneumatic-tools.png 1x, ./images/populars/pneumatic-tools.png 2x" />
							<img src="./images/populars/pneumatic-tools.png" width="150" height="150" alt="pneumatic-tools" />
						</picture>
						<p>Пневмоінструмент</p>
					</a></li>
				<li><a href="">
						<picture>
							<source srcset="./images/populars/home-tools.webp 1x, ./images/populars/home-tools.webp 2x"
								type='image/webp' />
							<source srcset="./images/populars/home-tools.png 1x, ./images/populars/home-tools.png 2x" />
							<img src="./images/populars/home-tools.png" width="150" height="150" alt="home-tools" />
						</picture>
						<p>Для дому та саду</p>
					</a></li>
				<li><a href="">
						<picture>
							<source srcset="./images/populars/car-tools.webp 1x, ./images/populars/car-tools.webp 2x"
								type='image/webp' />
							<source srcset="./images/populars/car-tools.png 1x, ./images/populars/car-tools.png 2x" />
							<img src="./images/populars/car-tools.png" width="150" height="150" alt="car-tools" />
						</picture>
						<p>Автоінструмент</p>
					</a></li>
				<li><a href="">
						<picture>
							<source srcset="./images/populars/hand-tools.webp 1x, ./images/populars/hand-tools.webp 2x"
								type='image/webp' />
							<source srcset="./images/populars/hand-tools.png 1x, ./images/populars/hand-tools.png 2x" />
							<img src="./images/populars/hand-tools.png" width="150" height="150" alt="hand-tools" />
						</picture>
						<p>Ручний інструмент</p>
					</a></li>
				<li><a href="">
						<picture>
							<source srcset="./images/populars/electric-tools.webp 1x, ./images/populars/electric-tools.webp 2x"
								type='image/webp' />
							<source
								srcset="./images/populars/electric-tools.png 1x, ./images/populars/electric-tools.png 2x" />
							<img src="./images/populars/electric-tools.png" width="150" height="150" alt="electric-tools" />
						</picture>
						<p>Електроінструмент</p>
					</a></li>
			</ul>
		</div>
	</div>
</section>