<section class="section">
	<div class="container">
		<div class="rating-title-wrapper">
			<p>ВІДГУКИ</p>
			<a href="">ВСІ ВІДГУКИ</a>
		</div>
		<div class="articles-wrapper">
			<article class="article-response">
				<a href="">
					<div class="response-content-wrapper">
						<div class="response-top-block">
							<picture>
								<source srcset="./images/rating/avatar.webp 1x, ./images/rating/avatar@2x.webp 2x"
									type='image/webp'>
								<source srcset="./images/rating/avatar@2x.jpg 2x">
								<img src="./images/rating/avatar.jpg" alt="avatar" width="50" height="50">
							</picture>
							<div class="response-user-info-wrapper">
								<p>Ростислав</p>
								<div>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
								</div>
							</div>
						</div>
						<p class="response-user-text">
							Купую в цьому інтернет-магазині не <br> перший рік інструмент, собі, в подарунок друзям, дуже
							задоволений.
						</p>
						<div class="response-date-wrapper">
							<span>22 Вересня 2021</span>
							<a href="">ЧИТАТИ</a>
						</div>
					</div>
				</a>
			</article>
			<article class="article-response">
				<a href="">
					<div class="response-content-wrapper">
						<div class="response-top-block">
							<picture>
								<source srcset="./images/rating/avatar.webp 1x, ./images/rating/avatar@2x.webp 2x"
									type='image/webp'>
								<source srcset="./images/rating/avatar@2x.jpg 2x">
								<img src="./images/rating/avatar.jpg" alt="avatar" width="50" height="50">
							</picture>
							<div class="response-user-info-wrapper">
								<p>Ростислав</p>
								<div>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
								</div>
							</div>
						</div>
						<p class="response-user-text">
							Купую в цьому інтернет-магазині не <br> перший рік інструмент, собі, в подарунок друзям, дуже
							задоволений.
						</p>
						<div class="response-date-wrapper">
							<span>22 Вересня 2021</span>
							<a href="">ЧИТАТИ</a>
						</div>
					</div>
				</a>
			</article>
			<article class="article-response">
				<a href="">
					<div class="response-content-wrapper">
						<div class="response-top-block">
							<picture>
								<source srcset="./images/rating/avatar.webp 1x, ./images/rating/avatar@2x.webp 2x"
									type='image/webp'>
								<source srcset="./images/rating/avatar@2x.jpg 2x">
								<img src="./images/rating/avatar.jpg" alt="avatar" width="50" height="50">
							</picture>
							<div class="response-user-info-wrapper">
								<p>Ростислав</p>
								<div>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
								</div>
							</div>
						</div>
						<p class="response-user-text">
							Купую в цьому інтернет-магазині не <br> перший рік інструмент, собі, в подарунок друзям, дуже
							задоволений.
						</p>
						<div class="response-date-wrapper">
							<span>22 Вересня 2021</span>
							<a href="">ЧИТАТИ</a>
						</div>
					</div>
				</a>
			</article>
			<article class="article-response">
				<a href="">
					<div class="response-content-wrapper">
						<div class="response-top-block">
							<picture>
								<source srcset="./images/rating/avatar.webp 1x, ./images/rating/avatar@2x.webp 2x"
									type='image/webp'>
								<source srcset="./images/rating/avatar@2x.jpg 2x">
								<img src="./images/rating/avatar.jpg" alt="avatar" width="50" height="50">
							</picture>
							<div class="response-user-info-wrapper">
								<p>Ростислав</p>
								<div>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
								</div>
							</div>
						</div>
						<p class="response-user-text">
							Купую в цьому інтернет-магазині не <br> перший рік інструмент, собі, в подарунок друзям, дуже
							задоволений.
						</p>
						<div class="response-date-wrapper">
							<span>22 Вересня 2021</span>
							<a href="">ЧИТАТИ</a>
						</div>
					</div>
				</a>
			</article>
			<article class="article-response">
				<a href="">
					<div class="response-content-wrapper">
						<div class="response-top-block">
							<picture>
								<source srcset="./images/rating/avatar.webp 1x, ./images/rating/avatar@2x.webp 2x"
									type='image/webp'>
								<source srcset="./images/rating/avatar@2x.jpg 2x">
								<img src="./images/rating/avatar.jpg" alt="avatar" width="50" height="50">
							</picture>
							<div class="response-user-info-wrapper">
								<p>Ростислав</p>
								<div>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
								</div>
							</div>
						</div>
						<p class="response-user-text">
							Купую в цьому інтернет-магазині не <br> перший рік інструмент, собі, в подарунок друзям, дуже
							задоволений.
						</p>
						<div class="response-date-wrapper">
							<span>22 Вересня 2021</span>
							<a href="">ЧИТАТИ</a>
						</div>
					</div>
				</a>
			</article>
			<article class="article-response">
				<a href="">
					<div class="response-content-wrapper">
						<div class="response-top-block">
							<picture>
								<source srcset="./images/rating/avatar.webp 1x, ./images/rating/avatar@2x.webp 2x"
									type='image/webp'>
								<source srcset="./images/rating/avatar@2x.jpg 2x">
								<img src="./images/rating/avatar.jpg" alt="avatar" width="50" height="50">
							</picture>
							<div class="response-user-info-wrapper">
								<p>Ростислав</p>
								<div>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
								</div>
							</div>
						</div>
						<p class="response-user-text">
							Купую в цьому інтернет-магазині не <br> перший рік інструмент, собі, в подарунок друзям, дуже
							задоволений.
						</p>
						<div class="response-date-wrapper">
							<span>22 Вересня 2021</span>
							<a href="">ЧИТАТИ</a>
						</div>
					</div>
				</a>
			</article>
			<article class="article-response">
				<a href="">
					<div class="response-content-wrapper">
						<div class="response-top-block">
							<picture>
								<source srcset="./images/rating/avatar.webp 1x, ./images/rating/avatar@2x.webp 2x"
									type='image/webp'>
								<source srcset="./images/rating/avatar@2x.jpg 2x">
								<img src="./images/rating/avatar.jpg" alt="avatar" width="50" height="50">
							</picture>
							<div class="response-user-info-wrapper">
								<p>Ростислав</p>
								<div>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
								</div>
							</div>
						</div>
						<p class="response-user-text">
							Купую в цьому інтернет-магазині не <br> перший рік інструмент, собі, в подарунок друзям, дуже
							задоволений.
						</p>
						<div class="response-date-wrapper">
							<span>22 Вересня 2021</span>
							<a href="">ЧИТАТИ</a>
						</div>
					</div>
				</a>
			</article>
			<article class="article-response">
				<a href="">
					<div class="response-content-wrapper">
						<div class="response-top-block">
							<picture>
								<source srcset="./images/rating/avatar.webp 1x, ./images/rating/avatar@2x.webp 2x"
									type='image/webp'>
								<source srcset="./images/rating/avatar@2x.jpg 2x">
								<img src="./images/rating/avatar.jpg" alt="avatar" width="50" height="50">
							</picture>
							<div class="response-user-info-wrapper">
								<p>Ростислав</p>
								<div>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
								</div>
							</div>
						</div>
						<p class="response-user-text">
							Купую в цьому інтернет-магазині не <br> перший рік інструмент, собі, в подарунок друзям, дуже
							задоволений.
						</p>
						<div class="response-date-wrapper">
							<span>22 Вересня 2021</span>
							<a href="">ЧИТАТИ</a>
						</div>
					</div>
				</a>
			</article>
			<article class="article-response">
				<a href="">
					<div class="response-content-wrapper">
						<div class="response-top-block">
							<picture>
								<source srcset="./images/rating/avatar.webp 1x, ./images/rating/avatar@2x.webp 2x"
									type='image/webp'>
								<source srcset="./images/rating/avatar@2x.jpg 2x">
								<img src="./images/rating/avatar.jpg" alt="avatar" width="50" height="50">
							</picture>
							<div class="response-user-info-wrapper">
								<p>Ростислав</p>
								<div>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
								</div>
							</div>
						</div>
						<p class="response-user-text">
							Купую в цьому інтернет-магазині не <br> перший рік інструмент, собі, в подарунок друзям, дуже
							задоволений.
						</p>
						<div class="response-date-wrapper">
							<span>22 Вересня 2021</span>
							<a href="">ЧИТАТИ</a>
						</div>
					</div>
				</a>
			</article>
			<article class="article-response">
				<a href="">
					<div class="response-content-wrapper">
						<div class="response-top-block">
							<picture>
								<source srcset="./images/rating/avatar.webp 1x, ./images/rating/avatar@2x.webp 2x"
									type='image/webp'>
								<source srcset="./images/rating/avatar@2x.jpg 2x">
								<img src="./images/rating/avatar.jpg" alt="avatar" width="50" height="50">
							</picture>
							<div class="response-user-info-wrapper">
								<p>Ростислав</p>
								<div>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
								</div>
							</div>
						</div>
						<p class="response-user-text">
							Купую в цьому інтернет-магазині не <br> перший рік інструмент, собі, в подарунок друзям, дуже
							задоволений.
						</p>
						<div class="response-date-wrapper">
							<span>22 Вересня 2021</span>
							<a href="">ЧИТАТИ</a>
						</div>
					</div>
				</a>
			</article>
			<article class="article-response">
				<a href="">
					<div class="response-content-wrapper">
						<div class="response-top-block">
							<picture>
								<source srcset="./images/rating/avatar.webp 1x, ./images/rating/avatar@2x.webp 2x"
									type='image/webp'>
								<source srcset="./images/rating/avatar@2x.jpg 2x">
								<img src="./images/rating/avatar.jpg" alt="avatar" width="50" height="50">
							</picture>
							<div class="response-user-info-wrapper">
								<p>Ростислав</p>
								<div>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
									<svg width="12" height="12">
										<use href="./images/sprite.svg#icon-star"></use>
									</svg>
								</div>
							</div>
						</div>
						<p class="response-user-text">
							Купую в цьому інтернет-магазині не <br> перший рік інструмент, собі, в подарунок друзям, дуже
							задоволений.
						</p>
						<div class="response-date-wrapper">
							<span>22 Вересня 2021</span>
							<a href="">ЧИТАТИ</a>
						</div>
					</div>
				</a>
			</article>
		</div>
	</div>
</section>