<section class="section">
  <div class="container">
    <div class="sales-title-wrapper">
    <p>АКЦІЇ</p>
    <a href="">ДИВИТИСЬ ВСІ</a>
    </div>
    <div class="sales-goods-wrapper">
      <article class="sales-article">
        <a href="">
          <p class="sales-percent">-25%</p>
           <picture class="sales-picture">
						<source srcset="./images/sales/jack.webp 1x, ./images/sales/jack@2x.webp 2x" type='image/webp' />
						<img src="./images/sales/jack.png" width="280" height="280" alt="jack" /> 
           </picture>
            <p class="sales-number">GT0102</p>
            <p class="sales-good-description">Домкрат гідравлічний підкатний 2Т, висота підйому 135-345мм INTERTOOL</p>
            <div class="sales-good-price-wrapper">
            <span class="sales-good-price">1 749 грн</span>
            <span class="sales-good-price-2">2 330 грн</span>
            </div>
            <div class="sales-good-additional-block">
              <button type="button">До кошика</button>
              <div class="sales-icons-wrapper">
              <svg width="24" height="24" class="sales-icon-balance">
                <use href="./images/sprite.svg#icon-balance"></use>
              </svg>
              <span></span>
              <svg width="24" height="24">
                <use href="./images/sprite.svg#icon-heart"></use>
              </svg>
              </div>
            </div>
        </a>
      </article>
      <article class="sales-article">
        <a href="">
          <p class="sales-percent">-25%</p>
           <picture class="sales-picture">
						<source srcset="./images/sales/jack.webp 1x, ./images/sales/jack.webp 2x" type='image/webp' />
						<img src="./images/sales/jack.png" width="280" height="280" alt="jack" /> 
            </picture>
            <p class="sales-number">GT0102</p>
            <p class="sales-good-description">Домкрат гідравлічний підкатний 2Т, висота підйому 135-345мм INTERTOOL</p>
            <div class="sales-good-price-wrapper">
            <span class="sales-good-price">1 749 грн</span>
            <span class="sales-good-price-2">2 330 грн</span>
            </div>
            <div class="sales-good-additional-block">
              <button type="button">До кошика</button>
              <div class="sales-icons-wrapper">
              <svg width="24" height="24" class="sales-icon-balance">
                <use href="./images/sprite.svg#icon-balance"></use>
              </svg>
              <span></span>
              <svg width="24" height="24">
                <use href="./images/sprite.svg#icon-heart"></use>
              </svg>
              </div>
            </div>
        </a>
      </article>
      <article class="sales-article">
        <a href="">
          <p class="sales-percent">-25%</p>
           <picture class="sales-picture">
						<source srcset="./images/sales/jack.webp 1x, ./images/sales/jack.webp 2x" type='image/webp' />
						<img src="./images/sales/jack.png" width="280" height="280" alt="jack" /> 
            </picture>
            <p class="sales-number">GT0102</p>
            <p class="sales-good-description">Домкрат гідравлічний підкатний 2Т, висота підйому 135-345мм INTERTOOL</p>
            <div class="sales-good-price-wrapper">
            <span class="sales-good-price">1 749 грн</span>
            <span class="sales-good-price-2">2 330 грн</span>
            </div>
            <div class="sales-good-additional-block">
              <button type="button">До кошика</button>
              <div class="sales-icons-wrapper">
              <svg width="24" height="24" class="sales-icon-balance">
                <use href="./images/sprite.svg#icon-balance"></use>
              </svg>
              <span></span>
              <svg width="24" height="24">
                <use href="./images/sprite.svg#icon-heart"></use>
              </svg>
              </div>
            </div>
        </a>
      </article>
      <article class="sales-article">
        <a href="">
          <p class="sales-percent">-25%</p>
           <picture class="sales-picture">
						<source srcset="./images/sales/jack.webp 1x, ./images/sales/jack.webp 2x" type='image/webp' />
						<img src="./images/sales/jack.png" width="280" height="280" alt="jack" /> 
            </picture>
            <p class="sales-number">GT0102</p>
            <p class="sales-good-description">Домкрат гідравлічний підкатний 2Т, висота підйому 135-345мм INTERTOOL</p>
            <div class="sales-good-price-wrapper">
            <span class="sales-good-price">1 749 грн</span>
            <span class="sales-good-price-2">2 330 грн</span>
            </div>
            <div class="sales-good-additional-block">
              <button type="button">До кошика</button>
              <div class="sales-icons-wrapper">
              <svg width="24" height="24" class="sales-icon-balance">
                <use href="./images/sprite.svg#icon-balance"></use>
              </svg>
              <span></span>
              <svg width="24" height="24">
                <use href="./images/sprite.svg#icon-heart"></use>
              </svg>
              </div>
            </div>
        </a>
      </article>
      <article class="sales-article">
        <a href="">
          <p class="sales-percent">-25%</p>
           <picture class="sales-picture">
						<source srcset="./images/sales/jack.webp 1x, ./images/sales/jack.webp 2x" type='image/webp' />
						<img src="./images/sales/jack.png" width="280" height="280" alt="jack" /> 
            </picture>
            <p class="sales-number">GT0102</p>
            <p class="sales-good-description">Домкрат гідравлічний підкатний 2Т, висота підйому 135-345мм INTERTOOL</p>
            <div class="sales-good-price-wrapper">
            <span class="sales-good-price">1 749 грн</span>
            <span class="sales-good-price-2">2 330 грн</span>
            </div>
            <div class="sales-good-additional-block">
              <button type="button">До кошика</button>
              <div class="sales-icons-wrapper">
              <svg width="24" height="24" class="sales-icon-balance">
                <use href="./images/sprite.svg#icon-balance"></use>
              </svg>
              <span></span>
              <svg width="24" height="24">
                <use href="./images/sprite.svg#icon-heart"></use>
              </svg>
              </div>
            </div>
        </a>
      </article>
      <article class="sales-article">
        <a href="">
          <p class="sales-percent">-25%</p>
           <picture class="sales-picture">
						<source srcset="./images/sales/jack.webp 1x, ./images/sales/jack.webp 2x" type='image/webp' />
						<img src="./images/sales/jack.png" width="280" height="280" alt="jack" /> 
            </picture>
            <p class="sales-number">GT0102</p>
            <p class="sales-good-description">Домкрат гідравлічний підкатний 2Т, висота підйому 135-345мм INTERTOOL</p>
            <div class="sales-good-price-wrapper">
            <span class="sales-good-price">1 749 грн</span>
            <span class="sales-good-price-2">2 330 грн</span>
            </div>
            <div class="sales-good-additional-block">
              <button type="button">До кошика</button>
              <div class="sales-icons-wrapper">
              <svg width="24" height="24" class="sales-icon-balance">
                <use href="./images/sprite.svg#icon-balance"></use>
              </svg>
              <span></span>
              <svg width="24" height="24">
                <use href="./images/sprite.svg#icon-heart"></use>
              </svg>
              </div>
            </div>
        </a>
      </article>
      <article class="sales-article">
        <a href="">
          <p class="sales-percent">-25%</p>
           <picture class="sales-picture">
						<source srcset="./images/sales/jack.webp 1x, ./images/sales/jack.webp 2x" type='image/webp' />
						<img src="./images/sales/jack.png" width="280" height="280" alt="jack" /> 
            </picture>
            <p class="sales-number">GT0102</p>
            <p class="sales-good-description">Домкрат гідравлічний підкатний 2Т, висота підйому 135-345мм INTERTOOL</p>
            <div class="sales-good-price-wrapper">
            <span class="sales-good-price">1 749 грн</span>
            <span class="sales-good-price-2">2 330 грн</span>
            </div>
            <div class="sales-good-additional-block">
              <button type="button">До кошика</button>
              <div class="sales-icons-wrapper">
              <svg width="24" height="24" class="sales-icon-balance">
                <use href="./images/sprite.svg#icon-balance"></use>
              </svg>
              <span></span>
              <svg width="24" height="24">
                <use href="./images/sprite.svg#icon-heart"></use>
              </svg>
              </div>
            </div>
        </a>
      </article>
      <article class="sales-article">
        <a href="">
          <p class="sales-percent">-25%</p>
           <picture class="sales-picture">
						<source srcset="./images/sales/jack.webp 1x, ./images/sales/jack.webp 2x" type='image/webp' />
						<img src="./images/sales/jack.png" width="280" height="280" alt="jack" /> 
            </picture>
            <p class="sales-number">GT0102</p>
            <p class="sales-good-description">Домкрат гідравлічний підкатний 2Т, висота підйому 135-345мм INTERTOOL</p>
            <div class="sales-good-price-wrapper">
            <span class="sales-good-price">1 749 грн</span>
            <span class="sales-good-price-2">2 330 грн</span>
            </div>
            <div class="sales-good-additional-block">
              <button type="button">До кошика</button>
              <div class="sales-icons-wrapper">
              <svg width="24" height="24" class="sales-icon-balance">
                <use href="./images/sprite.svg#icon-balance"></use>
              </svg>
              <span></span>
              <svg width="24" height="24">
                <use href="./images/sprite.svg#icon-heart"></use>
              </svg>
              </div>
            </div>
        </a>
      </article>
      <article class="sales-article">
        <a href="">
          <p class="sales-percent">-25%</p>
           <picture class="sales-picture">
						<source srcset="./images/sales/jack.webp 1x, ./images/sales/jack.webp 2x" type='image/webp' />
						<img src="./images/sales/jack.png" width="280" height="280" alt="jack" />
            </picture> 
            <p class="sales-number">GT0102</p>
            <p class="sales-good-description">Домкрат гідравлічний підкатний 2Т, висота підйому 135-345мм INTERTOOL</p>
            <div class="sales-good-price-wrapper">
            <span class="sales-good-price">1 749 грн</span>
            <span class="sales-good-price-2">2 330 грн</span>
            </div>
            <div class="sales-good-additional-block">
              <button type="button">До кошика</button>
              <div class="sales-icons-wrapper">
              <svg width="24" height="24" class="sales-icon-balance">
                <use href="./images/sprite.svg#icon-balance"></use>
              </svg>
              <span></span>
              <svg width="24" height="24">
                <use href="./images/sprite.svg#icon-heart"></use>
              </svg>
              </div>
            </div>
        </a>
      </article>
      <article class="sales-article">
        <a href="">
          <p class="sales-percent">-25%</p>
           <picture class="sales-picture">
						<source srcset="./images/sales/jack.webp 1x, ./images/sales/jack.webp 2x" type='image/webp' />
						<img src="./images/sales/jack.png" width="280" height="280" alt="jack" /> 
            </picture>
            <p class="sales-number">GT0102</p>
            <p class="sales-good-description">Домкрат гідравлічний підкатний 2Т, висота підйому 135-345мм INTERTOOL</p>
            <div class="sales-good-price-wrapper">
            <span class="sales-good-price">1 749 грн</span>
            <span class="sales-good-price-2">2 330 грн</span>
            </div>
            <div class="sales-good-additional-block">
              <button type="button">До кошика</button>
              <div class="sales-icons-wrapper">
              <svg width="24" height="24" class="sales-icon-balance">
                <use href="./images/sprite.svg#icon-balance"></use>
              </svg>
              <span></span>
              <svg width="24" height="24">
                <use href="./images/sprite.svg#icon-heart"></use>
              </svg>
              </div>
            </div>
        </a>
      </article>
    </div>
  </div>
</section>