<section class="search-section">
	<div class="container search-container">
		<div class="search-catalog-wrapper">
			<svg width="24" height="24" class="icon-catalog">
				<use href="./images/sprite.svg#icon-catalog"></use>
			</svg>
			<span>КАТАЛОГ ТОВАРІВ</span>
		</div>
		<form class="search-form" data-search-form>
			<svg width="24" height="24" class="icon-search">
				<use href="./images/sprite.svg#icon-search"></use>
			</svg>
			<input type="text" placeholder="Пошук по сайту" data-search-field>
			<button type="submit">Знайти</button>
		</form>
		<div class="search-contacts">
			<ul class="search-phones-list">
				<li><a href="tel:+380505522945">050 552 29 45</a></li>
				<li><a href="tel:+380671478055">067 147 80 55</a></li>
				<li><a href="tel:+380931700776">093 170 07 76</a></li>
			</ul>
			<div class="search-schedule-list">
				<p>Прийом дзвінків</p>
				<ul>
					<li>Пн-Пт: 08:00 – 20:00</li>
					<li>Сб - Нд: 08:00 – 17:00</li>
				</ul>
			</div>
		</div>
	</div>
</section>