.footer-section {
  background-color: var(--background-and-text-black-color);
}
.footer-navigation-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & a {
    padding-right: 10px;
  }

  & div p {
    @include text(16px, 500, 20px);
    color: var(--secondary-text-color-on-black-bg);
    margin-bottom: 22px;
  }

  & div ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
    & li a {
      @include text(16px, 500, 20px);
      color: var(--background-and-text-white-color);
    }
  }
}

.footer-navigation-block-contacts {
  display: flex;
  height: max-content;
  align-items: center;
}

#footer-navigation-block-social {
  flex-direction: row;
  column-gap: 26px;
}
.footer-subscribe-block {
  display: flex;
  justify-content: flex-end;

  & form {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    max-width: 350px;

    & label {
      display: flex;
      flex-direction: column;
      row-gap: 22px;
      letter-spacing: 0.01em;
      & span {
        @include text(16px, 400, 22px);
        color: var(--secondary-cta-color);
      }

      & input {
        width: 100%;
        border: none;
        padding: 15px 20px;
        color: var(--background-and-text-white-color);
        background-color: var(--surface-dark-color);
      }
    }
    & button {
      color: var(--secondary-cta-color);
      display: inline-block;
      border: none;
      background-color: inherit;
      width: max-content;
      align-self: flex-end;
    }
  }
}

.footer-additional-block {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1124px;
}
.additional-block-terms p {
  max-width: 530px;
  color: var(--secondary-text-color-on-white-bg);

  &:first-child {
    margin-bottom: 10px;
  }
  & span {
    color: var(--secondary-cta-color);
  }
}
.additional-block-cards {
  display: flex;
  row-gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 30px;

  & svg {
    fill: var(--secondary-text-color-on-white-bg);
  }
}

@media screen and (max-width: 1186px) {
  #footer-navigation-block-social {
    flex-direction: column;
  }
  .footer-subscribe-block {
    justify-content: flex-start;
  }
  .footer-navigation-block {
    & a {
      margin-bottom: 10px;
    }
  }
  .footer-subscribe-block {
    margin-bottom: 20px;
  }
}
.error-email, .error-search {
  position: absolute;
  top: 48px;
  color: red;
}

@media screen and (max-width: 320px) {
  .additional-block-cards {
    & svg {
      width: 70px;
    }
  }
}
