.swiper {
  width: 100%;
  height: 650px;
}
// #swiper-custom-slide1, #swiper-custom-slide2, #swiper-custom-slide3, #swiper-custom-slide4{
//   display: flex;
//   justify-content: center;
// }

.swiper-slide picture img {
  width: 1920px;
  height: 600px;
}
.swiper-horizontal > .swiper-pagination-bullets {
  bottom: 30px;
}

.swiper-horizontal .swiper-pagination-bullet {
  background-color: var(--secondary-text-color-on-black-bg);
}

.swiper-wrapper {
}
