.swiper {
  width: 100%;
  height: 660px;
}

.swiper-slide picture img {
  width: 1920px;
  height: 600px;
}
.swiper-horizontal > .swiper-pagination-bullets {
  bottom: 30px;
}

.swiper-horizontal .swiper-pagination-bullet {
  background-color: var(--secondary-text-color-on-black-bg);
}
