.hero-section {
  margin-top: -48px;
}
.swiper {
  width: 100%;
  height: 700px;
}
#swiper-custom-slide1,
#swiper-custom-slide2,
#swiper-custom-slide3,
#swiper-custom-slide4 {
  display: grid;
  place-items: center;
}

.swiper-slide picture img {
  width: 1920px;
  height: 600px;
}
.swiper-horizontal > .swiper-pagination-bullets {
  bottom: 30px;
}

.swiper-horizontal .swiper-pagination-bullet {
  background-color: var(--secondary-text-color-on-black-bg);
}
