.populars-title-wrapper {
  display: flex;
  column-gap: 30px;
  align-items: flex-end;
  margin-bottom: 50px;
  & p {
    @include text(24px, 500, 29px);
    display: flex;
    align-items: center;
    color: var(--background-and-text-black-color);
  }

  & a {
    @include text(16px, 500, 20px);
    color: var(--secondary-cta-color);
    letter-spacing: 0.01em;

    &:hover {
      background: inherit;
      border-bottom: 2px solid var(--secondary-cta-color);
      margin-bottom: -2px;
    }
  }
}

.populars-goods-wrapper {
  & ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
  }

  & ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 63px 18px;
    background-color: var(--surface-light-color);
    flex-basis: calc((100% - 4 * 30px) / 5);

    & a picture {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & a picture img {
      transition: transform 150ms linear;
    }

    &:hover a picture img {
      transform: scale(1.3);
    }

    & p {
      @include text(20px, 500, 24px);
      margin-top: 35px;
      color: var(--background-and-text-black-color);
    }
  }
}

@media screen and (min-width: 375px) {
  .populars-goods-wrapper {
    & ul {
      display: flex;
      justify-content: center;
      flex-direction: row;

      & li:nth-last-child(1) {
        display: none;
      }
      & li:nth-last-child(2) {
        display: none;
      }
      & li:nth-last-child(3) {
        display: none;
      }
      & li:nth-last-child(4) {
        display: none;
      }
    }
    & a picture img {
      width: 100px;
      height: 100px;
    }

    & ul li {
      flex-basis: calc((100% - 2 * 15px) / 2);
      & p {
        @include text(13px, 400, 17px);
        margin-top: 15px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .populars-goods-wrapper {
    & a picture img {
      width: 120px;
      height: 120px;
    }

    & ul {
      & li:nth-last-child(3) {
        display: flex;
      }
      & li:nth-last-child(4) {
        display: flex;
      }
    }
    & ul li {
      flex-basis: calc((100% - 4 * 20px) / 4);
    }
  }
}

@media screen and (min-width: 1920px) {
  .populars-goods-wrapper {
    & a picture img {
      width: 150px;
      height: 150px;
    }

    & ul {
      display: flex;
      justify-content: center;
      flex-direction: row;

      & li:nth-last-child(1) {
        display: flex;
      }
      & li:nth-last-child(2) {
        display: flex;
      }
    }
    & ul li {
      flex-basis: calc((100% - 5 * 20px) / 5);
      & p {
        @include text(18px, 500, 24px);
        margin-top: 25px;
      }
    }
  }
}
